body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: linear-gradient(135deg, #6ab8ff 0%, #a9c6d7 100%);
}

.container {
  display: flex;
  height: 100vh;
  margin: 0;
}

.sidebar {
  background: #f3f6fa;
  width: 260px;
  margin-left:0 ;
  padding:10px;
  box-shadow: 2px 0 6px rgba(44,62,80,0.08);
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 23px;
  font-weight: bold;
  color: #4291f0;
}
.locations {
  list-style: none;
  padding: 0;
  margin: 14px 0 24px 0;
}
.locations li {
  padding: 7px 0;
  color: #7b8794;
  cursor: pointer;
}
.locations .active {
  color: #4a90e2;
  font-weight: bold;
}
.preferences {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


@media (max-width: 970px) {
  .container { flex-direction: column;}
  main { flex-direction: column; padding: 18px;}
  .weather-card { margin: 24px 0 0 0;}
}

